    <footer style="display: flex; justify-content: space-between; padding: 20px 50px; border-top: solid 1px rgba(56,60,64,0.5);;" >
        <div>
            <p style="color: gray; font-size: 18px;">Copyright &copy; Crazy Movies</p>
        </div>
        <div style="display: flex;">
            <a href="#" style="text-decoration: none; color: gray; font-size: 18px;" >Política de Privacidad</a>
            <a href="#" style="margin-left: 20px; text-decoration: none; color: gray; font-size: 18px;">Términos y Condiciones</a>
        </div>
    </footer>
    
</body>

<script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" defer></script>
<script src="./assets/bootstrap/js/bootstrap.min.js"></script>
