<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crazy Movies</title>
    <link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-md bg-body py-3" style="border-bottom: 1px solid rgba(56,60,64,0.5);">
            <a href="/" style="text-decoration: none; color: black;">
                <div class="container"><strong style="margin-right: 66px;font-size: 29px;">Crazy Movies</strong><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            </a>
            
                <div id="navcol-1" class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link active" href="/" style="color: gray;">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="/peliculas">Peliculas</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Series</a></li>
                    </ul><button class="btn btn-primary" type="button" style="border-radius: 10px;">Iniciar Sesión</button><button class="btn btn-primary" type="button" style="margin-left: 7px;/*border-top-left-radius: 10;*//*border-top-right-radius: 10;*/border-radius: 10px;">Registrarse</button>
                </div>
            </div>
        </nav>
    </header>