<!DOCTYPE html>
<html lang="en">
    <%- include ("../templates/header.ejs") %>

    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="text-white p-4 p-md-5">
                            <h2 class="fw-bold text-white mb-3">¡Contamos con las peliculas más populares del momento!</h2>
                            <p class="mb-4">Conoce mas de nosotros dando click en el siguiente enlace.</p>
                            <div class="my-3"><a class="btn btn-primary btn-lg me-2" role="button" href="/peliculas">Quiero Ver Peliculas</a></div>
                        </div>
                    </div>
                    <div class="col-md-6 order-first order-md-last" style="min-height: 250px;"><img class="w-100 h-100 fit-cover" src="bannerPeliculas.jpg" /></div>
                </div>
            </div>
        </div>
    </section>

    <section class="principal_descripcion">
        <h1>¡Peliculas, Series y Más!</h1>

        <p>Nullam id molestie metus. Proin a porta augue. Sed orci ante, porta vitae commodo a, luctus eget sem. Duis non elementum nisi. Mauris varius, quam ut facilisis efficitur, sem purus finibus leo, nec dapibus nulla turpis non magna. Maecenas porta pretium mauris ac vestibulum. Morbi cursus faucibus libero, eu vehicula dolor.

        Pellentesque at rhoncus nulla. Quisque et felis in ipsum volutpat tincidunt sed in ligula. Pellentesque est tellus, posuere varius vehicula quis, vestibulum a nibh. Duis pretium porttitor vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam rhoncus risus libero, eget ultrices tellus tristique et. Praesent in tristique magna, quis ultrices purus. Suspendisse id neque nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <p>In porttitor tortor sed est porttitor tincidunt. Proin elementum velit nulla, vitae ultrices lacus convallis id. Suspendisse egestas, nisl et tristique pulvinar, leo erat ornare magna, sollicitudin rhoncus magna augue sit amet justo. Nunc at nibh pharetra, mollis dui at, mattis lacus. Etiam a est at sem hendrerit fermentum. Curabitur commodo rutrum justo maximus molestie. Nam in suscipit leo, vel varius purus. In quis dui sed justo malesuada egestas.</p>

        <p>Phasellus bibendum et libero ac scelerisque. Etiam ac augue quis mauris tristique lobortis. Vivamus et velit rhoncus lacus gravida hendrerit a eu ex. Donec a ligula faucibus, interdum felis eu, scelerisque massa. Fusce a luctus ante, a dictum nunc. Curabitur maximus interdum nibh at consectetur. Fusce efficitur consectetur iaculis. Suspendisse eu est vel lorem semper dictum a nec diam. Integer mollis sapien eget urna faucibus viverra. Phasellus ultricies ultrices faucibus. Praesent quis maximus mi. Quisque eget tincidunt urna.

        Integer blandit non velit a euismod. Donec at velit suscipit diam sodales porta id sit amet eros. Cras vitae lacus metus. Duis vel facilisis quam. Nulla gravida mi lacus, vel consequat dolor auctor et. Donec gravida orci quis aliquam ullamcorper. Sed aliquet elit sit amet mattis finibus. Integer fermentum tellus magna, at tincidunt orci tempor quis. Nulla eu neque eu sem ultricies venenatis et a elit. Proin molestie enim libero, at placerat nunc aliquam euismod. Aenean nunc augue, ultrices sit amet semper in, facilisis et sapien. Proin malesuada sollicitudin erat ac tincidunt. Vivamus in hendrerit augue.</p>
    </section>

    <%- include ("../templates/footer.ejs") %>
</html>